<div id="mySidenav" class="sidenav">
  <app-sidenav></app-sidenav>
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
</div>
<div class="cypher-home-mobile">
  <div class="row mt-3">
    <div class="col-2">
      <button class="btn" (click)="openNav()"><i class="fa fa-bars" style="font-size: 36px;"></i></button>
    </div>
    <div class="col-7">
      <img id="blackLogo" class="logo-section" src="/assets/img/cypher_logo_black.png" alt="logo" />
    </div>
    <div class="col-2">
      <button class="btn"><i class="fa fa-shopping-bag" style="font-size:36px"></i></button>
    </div>
  </div>

  <!--Steal Deals-->
<div class="col-12"> 
  <a style="color:crimson;font-weight: bold; font-size: 18px;">Steal Deals</a>
  
<br>
<!--Row1-->
<div class="row">
    <!--Product1-->
    <div class="column">
      <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
        <div class="card-img-overlay"><a role="button">+</a></div>
      </div>
      <div class="card-body">
        AIR JORDAN 4 RETRO<br>
        <span style="color: darkgray;">$  Price</span>
      </div>
    </div>
    <!--Product2-->
    <div class="column">
      <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
        <div class="card-img-overlay"><a role="button">+</a></div>
      </div>
      <div class="card-body">
        AIR JORDAN 4 RETRO<br>
        <span style="color: darkgray;">$  Price</span>
      </div>  
    </div>
</div><!--Row 1 Ends--><br>

<!--Row2-->
<div class="row">
  <!--Product3-->
  <div class="column">
    <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
      <div class="card-img-overlay"><a role="button">+</a></div>
    </div>
    <div class="card-body">
      AIR JORDAN 4 RETRO<br>
      <span style="color: darkgray;">$  Price</span>
    </div>
  </div>
  <!--Product4-->
  <div class="column">
    <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
      <div class="card-img-overlay"><a role="button">+</a></div>
    </div>
    <div class="card-body">
      AIR JORDAN 4 RETRO<br>
      <span style="color: darkgray;">$  Price</span>
    </div>  
  </div>
</div><!--Row 2 Ends--><br>

<label style="font-weight: lighter;" >Show more</label>
<hr align="top" style="border: 1px solid; margin-top:0%;">
<br>
</div>

<!--Apparel-->
<div class="col-12"> 
  <a style="font-size: 18px; font-weight: bolder;">Apparel</a>

  <!--Banner 2-->
    <img style="width: 100%;" src="/assets/img/banner2.jpg">
  <br>
  <br>

<!--Row1-->
<div class="row">
  <!--Product1-->
  <div class="column">
    <div class="card img-fluid" (click)="goToProductInfo(0)"><img class="card-img-top" src="/assets/img/img1.jpg" alt="Card image cap">
      <div class="card-img-overlay"><a role="button">+</a></div>
    </div>
    <div class="card-body">
      AIR JORDAN 4 RETRO<br>
      <span style="color: darkgray;">$  Price</span>
    </div>
  </div>
  <!--Product2-->
  <div class="column">
    <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
      <div class="card-img-overlay"><a role="button">+</a></div>
    </div>
    <div class="card-body">
      AIR JORDAN 4 RETRO<br>
      <span style="color: darkgray;">$  Price</span>
    </div>  
  </div>
</div><!--Row 1 Ends--><br>

<!--Row2-->
<div class="row">
<!--Product3-->
<div class="column">
  <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
    <div class="card-img-overlay"><a role="button">+</a></div>
  </div>
  <div class="card-body">
    AIR JORDAN 4 RETRO<br>
    <span style="color: darkgray;">$  Price</span>
  </div>
</div>
<!--Product4-->
<div class="column">
  <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
    <div class="card-img-overlay"><a role="button">+</a></div>
  </div>
  <div class="card-body">
    AIR JORDAN 4 RETRO<br>
    <span style="color: darkgray;">$  Price</span>
  </div>  
</div>

</div><!--Row 2 Ends--><br>

<label style="font-weight: 600;">Show more</label>
<hr align="top" style="border: 1px solid; margin-top:0%;">
<br>

</div>

<!--Recommended-->
<div class="col-12"> 
  <a style="font-size: 18px; font-weight: bolder;">Recommended</a>

<!--Row1-->
<div class="row">
  <!--Product3-->
  <div class="column">
    <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
      <div class="card-img-overlay"><a role="button">+</a></div>
    </div>
    <div class="card-body">
      AIR JORDAN 4 RETRO<br>
      <span style="color: darkgray;">$  Price</span>
    </div>
  </div>
  <!--Product4-->
  <div class="column">
    <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
      <div class="card-img-overlay"><a role="button">+</a></div>
    </div>
    <div class="card-body">
      AIR JORDAN 4 RETRO<br>
      <span style="color: darkgray;">$  Price</span>
    </div>  
  </div>
</div><!--Row 1 Ends--><br>

</div>

<div class="mobile-footer">
  <footer class="py-4 text-white">
  
    <div class="col-md-12"  style="padding: 0%;">
  
        <div>
          SIGN UP FOR EARLY ACCESS TO NEWS, PROMOTIONS AND MORE.
        </div>   
        <div>
            <div class="form-inline">
                <input type="text" style="width: 50%;" placeholder="Email"/>&nbsp;&nbsp;
                <button type="button" style="font-weight: 550; background-color: white; color: black;">SIGN UP</button>
            </div>
        </div>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <div>
            <i style="padding-left: 3%;" class="fa fa-instagram"></i> &nbsp;
            <i class="fa fa-facebook-official"></i> 
            <span style="padding-left: 12%;">FAQs | Terms | Privacy | Support | Contact Us</span>
        </div>
  
    </div>
    
  </footer>
</div>

</div>
