<div style="padding-bottom: 8%;">

<h6><b>Wishlist</b></h6>
<br>

<div class="row">
    <div class="column">
      <div class="card"><img class="card-img-top" alt="Card image cap">  </div>
      <div class="card-body">
        Order Date: 3 Sept 2020<br>
        Order Id: CY01567<br>
        Total: Rs 67,345.00
      </div>
      <button type="button" (click)="goToOrderDetails()" class="btn-sm btn-block">DETAILS</button>
    </div>
    <div class="column">
        <div class="card"><img class="card-img-top" alt="Card image cap">  </div>
        <div class="card-body"    >
          Order Date: 3 Sept 2020<br>
          Order Id: CY01567<br>
          Total: Rs 67,345.00
        </div>
        <button type="button" (click)="goToOrderDetails()" class="btn-sm btn-block">DETAILS</button>   
      </div>
      <div class="column">
        <div class="card"><img class="card-img-top"  alt="Card image cap">  </div>
        <div class="card-body"    >
          Order Date: 3 Sept 2020<br>
          Order Id: CY01567<br>
          Total: Rs 67,345.00
        </div>
        <button type="button" (click)="goToOrderDetails()" class="btn-sm btn-block">DETAILS</button>   
      </div>
      <div class="column">
        <div class="card"><img class="card-img-top" alt="Card image cap">  </div>
        <div class="card-body"    >
          Order Date: 3 Sept 2020<br>
          Order Id: CY01567<br>
          Total: Rs 67,345.00
        </div>
        <button type="button" (click)="goToOrderDetails()" class="btn-sm btn-block">DETAILS</button>
      </div>

</div><br>

<div class="row">
    <div class="column">
      <div class="card"><img class="card-img-top"  alt="Card image cap">  </div>
      <div class="card-body"    >
        Order Date: 3 Sept 2020<br>
        Order Id: CY01567<br>
        Total: Rs 67,345.00
      </div>
      <button type="button" (click)="goToOrderDetails()" class="btn-sm btn-block">DETAILS</button>  
    </div>
    <div class="column">
        <div class="card"><img class="card-img-top" alt="Card image cap">  </div>
        <div class="card-body"    >
          Order Date: 3 Sept 2020<br>
          Order Id: CY01567<br>
          Total: Rs 67,345.00
        </div>
        <button type="button" (click)="goToOrderDetails()" class="btn-sm btn-block">DETAILS</button>
      </div>
      <div class="column">
        <div class="card"><img class="card-img-top" alt="Card image cap">  </div>
        <div class="card-body"    >
          Order Date: 3 Sept 2020<br>
          Order Id: CY01567<br>
          Total: Rs 67,345.00
        </div>
        <button type="button" (click)="goToOrderDetails()" class="btn-sm btn-block">DETAILS</button>  
      </div>
      <div class="column">
        <div class="card"><img class="card-img-top" alt="Card image cap">  </div>
        <div class="card-body"    >
          Order Date: 3 Sept 2020<br>
          Order Id: CY01567<br>
          Total: Rs 67,345.00
        </div>
        <button type="button" (click)="goToOrderDetails()" class="btn-sm btn-block">DETAILS</button>  
      </div>

</div><br>

<div class="row">
  <div class="column">
    <div class="card"><img class="card-img-top"  alt="Card image cap">  </div>
    <div class="card-body"    >
      Order Date: 3 Sept 2020<br>
      Order Id: CY01567<br>
      Total: Rs 67,345.00
    </div>
    <button type="button" (click)="goToOrderDetails()" class="btn-sm btn-block">DETAILS</button>  
  </div>
  <div class="column">
      <div class="card"><img class="card-img-top" alt="Card image cap">  </div>
      <div class="card-body"    >
        Order Date: 3 Sept 2020<br>
        Order Id: CY01567<br>
        Total: Rs 67,345.00
      </div>
      <button type="button" (click)="goToOrderDetails()" class="btn-sm btn-block">DETAILS</button>
    </div>
    <div class="column">
      <div class="card"><img class="card-img-top" alt="Card image cap">  </div>
      <div class="card-body"    >
        Order Date: 3 Sept 2020<br>
        Order Id: CY01567<br>
        Total: Rs 67,345.00
      </div>
      <button type="button" (click)="goToOrderDetails()" class="btn-sm btn-block">DETAILS</button>  
    </div>
    <div class="column">
      <div class="card"><img class="card-img-top" alt="Card image cap">  </div>
      <div class="card-body"    >
        Order Date: 3 Sept 2020<br>
        Order Id: CY01567<br>
        Total: Rs 67,345.00
      </div>
      <button type="button" (click)="goToOrderDetails()" class="btn-sm btn-block">DETAILS</button>  
    </div>

</div><br>

<label style="font-weight: 600;">Show more</label><br><br>
</div>
