<div class="row">
  <div class="col-5">
      <div class="card" style="height: 100%;"><img class="card-img-top" src="/assets/img/shoe_background.jpg" alt="Card image cap">  </div>
  </div>
  <div class="col-7">
      <h4>AIR JORDAN 4 RETRO</h4>
      <h4>"DOERMBENCHER"</h4>
      <span style="color: darkgray;">$  Price</span><br><br>
      <br>
      <label for="size">Select Size</label><br>
      <select class="col-5" name="size">
        <option>Null</option>
        <option>7</option>
        <option>8.5</option>
        <option>9</option>
        <option>9.5</option>
        <option>10</option>
        <option>10.5</option>
        <option>11</option>
        <option>11.5</option>
      </select>
      <br><br>  
      <label for="lowAsk"> Lowest Ask</label><br>
      <input class="col-5" type="text">&nbsp;
      <button class="col-5"> BUY NOW or Place Bid</button>
      <br><br>   
      <label for="highBid"> Highest Bid</label><br>
      <input class="col-5" type="text">&nbsp;
      <button class="col-5"> SELL NOW or Place Ask</button>
      <br><br>

      <label>Last Sale</label>
      <h5 style="font-weight: bolder;">$ XX,XXX</h5>
      <label style="color: red;">-$1(0%)</label>
      <br><br>
      <div style="font-weight: bold;">
          <a style="color: black;text-decoration: none;" href="#services">+ Add to Wishlist</a><br>
          <a style="color: black;text-decoration: none;" href="#clients">+ Share</a><br>
      </div>
  </div>
</div><br><br>  
<hr style="border: 1px solid;">
<h5>Recommended</h5>

<div class="container"> 
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class=" col-md-1" style="width:2%; float: left;padding-top: 25%;">
        <a class="carousel-control-prev" style="color: black;font-weight: bolder; font-size: 24px;" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span><
        </a>
      </div>

      <div class="carousel-inner col-11">
        <div class="carousel-item col-11 active">
          <div class="row">
              <div class="col-3">
                  <div class="card"><img class="card-img-top"  alt="Card image cap"></div>
                  <div style="padding-top: 10%; font-size: small; font-weight: bolder;">
                    AIR JORDAN 4 RETRO<br>
                   <span style="color: darkgray;">$  Price</span>
                  </div>
              </div>
              <div class="col-3">
                  <div class="card"><img class="card-img-top" alt="Card image cap"></div>
                  <div style="padding-top: 10%; font-size: small; font-weight: bolder;">
                    AIR JORDAN 4 RETRO<br>
                   <span style="color: darkgray;">$  Price</span>
                  </div> 
              </div>
              <div class="col-3">
                  <div class="card"><img class="card-img-top" alt="Card image cap">  </div>
                  <div style="padding-top: 10%; font-size: small; font-weight: bolder;">
                    AIR JORDAN 4 RETRO<br>
                   <span style="color: darkgray;">$  Price</span>
                  </div>
              </div>
              <div class="col-3">
                  <div class="card"><img class="card-img-top" alt="Card image cap">  </div>
                  <div style="padding-top: 10%; font-size: small; font-weight: bolder;">
                    AIR JORDAN 4 RETRO<br>
                   <span style="color: darkgray;">$  Price</span>
                  </div>
              </div>
            </div>
          </div>
          <div class="carousel-item col-11">
              <div class="row">
                <div class="col-3">
                  <div class="card"><img class="card-img-top"  alt="Card image cap">  </div>
                  <div style="padding-top: 10%; font-size: small; font-weight: bolder;">
                    AIR JORDAN 4 RETRO<br>
                   <span style="color: darkgray;">$  Price</span>
                  </div>
                </div>
                <div class="col-3">
                  <div class="card"><img class="card-img-top" alt="Card image cap">  </div>
                  <div style="padding-top: 10%; font-size: small; font-weight: bolder;">
                    AIR JORDAN 4 RETRO<br>
                   <span style="color: darkgray;">$  Price</span>
                  </div>
                </div>
                <div class="col-3">
                  <div class="card"><img class="card-img-top" alt="Card image cap">  </div>
                  <div style="padding-top: 10%; font-size: small; font-weight: bolder;">
                    AIR JORDAN 4 RETRO<br>
                   <span style="color: darkgray;">$  Price</span>
                  </div>
                </div>
                <div class="col-3">
                  <div class="card"><img class="card-img-top" alt="Card image cap">  </div>
                  <div style="padding-top: 10%; font-size: small; font-weight: bolder;">
                    AIR JORDAN 4 RETRO<br>
                   <span style="color: darkgray;">$  Price</span>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-md-1" style="float: right;padding-top: 25%;" >
            <a class="carousel-control-next" style="color: black;font-weight: bolder;  font-size: 24px;" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            ></a>
          </div>
        </div>
      </div>
</div> <br><br>

<!--<div class="row text-center justify-content-center">
  <div class="col-lg-6 ">
    <div class="card mb-4 ">
      <img height="60%" class="card-img-top" src="{{productInfo?.productIcon}}">
      <div class="card-body">
        <h4 class="card-title ">{{productInfo?.productName}}</h4>
        <form name="form" #form='ngForm' (ngSubmit)="productInfo?.productStatus == 0 && addToCart()">
          <div class="text-left">
            <input hidden name="productId" [value]=productInfo?.productId>
            <p class="card-test"><strong>Description: </strong>{{productInfo?.productDescription}}</p>
            <p class="card-text">
              <strong>Price: </strong>
              <label id="price">{{productInfo?.productPrice | currency}}</label>
            </p>
            <p class="card-text"><strong>Stock: </strong>{{productInfo?.productStock}}</p>

            <label class="card-text">
              <strong>Quantity: </strong>
              <input [(ngModel)]=count
                     (change)="validateCount()"
                     type="number"
                     name="count"
                     required
                     min="1"
                     [max]=productInfo?.productStock
              >
            </label>


            <p class="card-text"><strong>Subtotal: </strong>
              <label id="subtotal">{{count * productInfo?.productPrice | currency}}</label>
            </p>
          </div>
          <button type="submit" [disabled]="!form.form.valid" *ngIf="productInfo?.productStatus == 0; else offBlock"
                  class="btn btn-primary btn-lg">Add to Cart
          </button>
          <ng-template #offBlock><a class="btn btn-secondary btn-lg disabled">Unavailable</a></ng-template>
        </form>

      </div>
    </div>
  </div>
</div>-->
