<div style="padding-bottom: 8%;">

<h6><b>Dashboard</b></h6>
<br>
<h4 style="font-weight: bolder;">SHRAVAN SUD</h4>
<hr style="border: 1px solid;">

<ul class="nav">
  <li class="nav-item">
    <a  class="nav-link" href="#">My Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">Portifolio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Orders</a>
  </li>
</ul><br>


<div class="col-12">

  <div class="row">

      <div class="col-6" style="padding-bottom: 10%;">
        <br>
         <!-- <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

              SKU
              <div class="form-group">
                <label for="sneakerName">SKU</label>
                <select placeholder="Start Typing" class="form-control form-control-sm">
                  <option value="null"></option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
                <div *ngIf="sneakerName.invalid && (sneakerName.dirty ||sneakerName.touched)" class="invalid-feedback">
                  <div *ngIf="sneakerName.errors.required">First Name is required</div>
                </div>
            </div>
            Sneaker Name
            <div class="form-group">
                <label for="lastName">Sneaker Name</label>
                <input type="text" class="form-control form-control-sm" name="lastName" [(ngModel)]="user.lastName" #lastName="ngModel" required />
                <div *ngIf="lastName.invalid && (lastName.dirty ||lastName.touched)" class="invalid-feedback">
                  <div *ngIf="lastName.errors.required">Last Name is required</div>
                </div>
            </div>
            Brand
            <div class="form-group">
              <label for="address">Brand</label>
              <input type="text" class="form-control form-control-sm" name="address" [(ngModel)]="user.address" #address="ngModel" required />
              <div *ngIf="address.invalid && (address.dirty ||address.touched)" class="invalid-feedback">
                <div *ngIf="address.errors.required">Address is required</div>
              </div>
            </div>

            Colorway
            <div class="form-group">
              <label for="state">Colorway</label>
              <input type="text" class="form-control form-control-sm" name="state" [(ngModel)]="user.state" #state="ngModel" required />
              <div *ngIf="state.invalid && (state.dirty ||state.touched)" class="invalid-feedback">
                <div *ngIf="state.errors.required">State is required</div>
              </div>
            </div>

            Size (UK)
            <div class="form-group">
              <label for="zip">Size (UK)</label>
              <input type="number" class="form-control form-control-sm" name="zip" [(ngModel)]="user.zip" #zip="ngModel" required />
              <div *ngIf="zip.invalid && (zip.dirty ||zip.touched)" class="invalid-feedback">
                <div *ngIf="zip.errors.required">Zip Code is required</div>
              </div>
            </div>

            Country
            <div class="form-group">
              <label for="country">Country</label>
                <select placeholder="Start Typing" class="form-control form-control-sm">
                  <option value="null"></option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
              <div *ngIf="country.invalid && (country.dirty ||country.touched)" class="invalid-feedback">
                <div *ngIf="country.errors.required">Country is required</div>
              </div>
            </div>

            Email
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control form-control-sm" name="email" [(ngModel)]="user.email" #email="ngModel" required email />
                <div *ngIf="email.invalid && (email.dirty ||email.touched)" class="invalid-feedback">
                    <div *ngIf="email.errors.required">Email is required</div>
                    <div *ngIf="email.errors.email">Email must be a valid email address</div>
                </div>
            </div>

            Phone
            <div class="form-group">
              <label for="phone">Phone</label>
              <input type="number" class="form-control form-control-sm" name="phone" [(ngModel)]="user.phone" #phone="ngModel" required />
              <div *ngIf="phone.invalid && (phone.dirty ||phone.touched)" class="invalid-feedback">
                <div *ngIf="phone.errors.required">Phone is required</div>
              </div>
            </div>

              <div class="form-group">
                  <button nbButton fullWidth
                  [disabled]="!f.form.valid"
                  style="background-color: black; color: white;" type="submit" class="btn btn-primary">SAVE CHANGES</button>
              </div>
          </form>-->
      </div>

  </div>

</div>



<div class="row">
    <div class="column">
      <div class="card"><img class="card-img-top" src="..." alt="Card image cap">  </div>
      <div class="card-body"    >
        Order Date: 3 Sept 2020<br>
        Order Id: CY01567<br>
        Total: Rs 67,345.00
      </div>
      <button nbButton fullWidth
    style="background-color: black; color: white;" type="submit" class="btn btn-primary">DETAILS</button>   
    </div>
    <div class="column">
        <div class="card"><img class="card-img-top" src="..." alt="Card image cap">  </div>
        <div class="card-body"    >
          Order Date: 3 Sept 2020<br>
          Order Id: CY01567<br>
          Total: Rs 67,345.00
        </div>
        <button nbButton fullWidth
      style="background-color: black; color: white;" type="submit" class="btn btn-primary">DETAILS</button>   
      </div>
      <div class="column">
        <div class="card"><img class="card-img-top" src="..." alt="Card image cap">  </div>
        <div class="card-body"    >
          Order Date: 3 Sept 2020<br>
          Order Id: CY01567<br>
          Total: Rs 67,345.00
        </div>
        <button nbButton fullWidth
      style="background-color: black; color: white;" type="submit" class="btn btn-primary">DETAILS</button>   
      </div>
      <div class="column">
        <div class="card"><img class="card-img-top" src="..." alt="Card image cap">  </div>
        <div class="card-body"    >
          Order Date: 3 Sept 2020<br>
          Order Id: CY01567<br>
          Total: Rs 67,345.00
        </div>
        <button nbButton fullWidth
      style="background-color: black; color: white;" type="submit" class="btn btn-primary">DETAILS</button>   
      </div>

</div><br>

