<nav class="navbar navbar-expand sticky-top" style="background-color: white;">
    
    <div class="col-2">

      <a class="navbar-brand" href="#" style="width: 15%;margin-bottom: 0%;padding-bottom: 0%; ">
          <img class="logo-section" src="/assets/img/cypher_logo_black.png" alt="logo" />
      </a>
    </div>
    <div class="col-10">
      <button class="btn" (click)="openCart()" style="margin-bottom: 0%;padding-bottom: 0%; float: right; font-size: 20px;background-color: white;border: none; "><i class="fa fa-shopping-bag"></i></button>
      <div id="cartMenu" class="cartMenu" style="z-index: 2;" >
        <div class="container">
          <div class="col-6 mt-3 ml-4" style="font-size: smaller;">
              Cart 
          </div>
          <div class="mt-3 mr-5">
            <a (click)="closeCart()" style="float: right; color:white; background-color: black; "><i class="fa fa-shopping-bag"></i></a>
          </div>
        </div>

      </div>
      
      <button class="btn btn--search btn--3 btn--icon icon-far" *ngIf="searchBool" style="margin-bottom: 0%;padding-bottom: 0%; float: right; background-color: white; border: none; font-size: 20px;"  (click)="searchBarClose()"><i class="fa fa-close"></i></button>
      <input id="inputSearch" class="inputSearch" type="text" style="margin-bottom: 0%;padding-bottom: 0%; float: right;">
      <button class="btn btn--search btn--3 btn--icon icon-far" style="margin-bottom: 0%;padding-bottom: 0%; float: right; font-size: 20px; background-color: white;border: none;" (click)="searchBar()"><i class="fa fa-search"></i></button>    
      
    </div>
    
  </nav>
  
  <hr align="top" style="border: 1px solid; margin-top:0%; margin-left: 4%; margin-right: 3%;">