<div style="max-width: 100%; overflow-x: hidden;">
<!--Home Page-->
<div *ngIf="router.url=='/home' || router.url=='/cypherHome'">
   <router-outlet></router-outlet>
</div>

<!--Header-->
<div *ngIf="router.url != '/home' && router.url!='/cypherHome' && isDesktopDevice">
  <nav class="navbar navbar-expand sticky-top" style="background-color: white;">
    
    <div class="col-2">

      <a class="navbar-brand" href="#" style="width: 15%;margin-bottom: 0%;padding-bottom: 0%; ">
          <img class="logo-section" src="/assets/img/cypher_logo_black.png" alt="logo" />
      </a>
    </div>
    <div class="col-10">
      <button class="btn btn--search btn--3 btn--icon icon-far" (click)="openCart()" style="margin-bottom: 0%;padding-bottom: 0%; float: right; font-size: 20px;background-color: white;border: none; "><i class="fa fa-shopping-bag"></i></button>
      <div id="cartMenu" class="cartMenu" style="z-index: 2;" >
        <div class="container">
          <div class="col-6 mt-3 ml-4" style="font-size: smaller;">
              Cart 
          </div>
          <div class="mt-3 mr-5">
            <a (click)="closeCart()" style="float: right; color:white; background-color: black; "><i class="fa fa-shopping-bag"></i></a>
          </div>
          <div class="row mt-5">
            <div class="col-4 ml-5" style="padding-left: 0%;">
              <div class="card img-fluid" style="background-color: black;" >
                <img src='/assets/img/add_icon.png' class="card-img-top" alt="Card image cap">
              </div>
            </div>
            <div class="col-4 mr-5" style="font-size: 15px; margin: 0%; padding: 0%;">
              <span>aaaaaaa aaaaa aaaaa aaaaaaaaa aaasdasd adsada</span></div>
          </div>
        </div>

      </div>
      
      <button class="btn btn--search btn--3 btn--icon icon-far" *ngIf="searchBool" style="margin-bottom: 0%;padding-bottom: 0%; float: right; background-color: white; border: none; font-size: 20px;"  (click)="searchBarClose()"><i class="fa fa-close"></i></button>
      <input id="inputSearch" class="inputSearch" type="text" style="margin-bottom: 0%;padding-bottom: 0%; float: right;">
      <button class="btn btn--search btn--3 btn--icon icon-far" style="margin-bottom: 0%;padding-bottom: 0%; float: right; font-size: 20px; background-color: white;border: none;" (click)="searchBar()"><i class="fa fa-search"></i></button>
      <!-- <hr align="top" *ngIf="router.url != '/home' && isDesktopDevice" style="border: 1px solid; ">-->
    
      
    </div>
    
  </nav>
  
  <hr align="top" *ngIf="router.url != '/home' && router.url!='/cypherHome' && isDesktopDevice" style="border: 1px solid; margin-top:0%; margin-left: 4%; margin-right: 3%;">

 <!--Mobile Header-->
  <nav style="margin: 0%;"  *ngIf="router.url != '/home' && isMobile" class="navbar navbar-expand navbar-dark sticky-top" style="background-color: white;">
    <div class="col-12" style="padding: 0%;">
      <button class="openbtn" (click)="openNav()">☰  </button>
      <a class="navbar-brand">
        <img class="mob-logo-section" src="/assets/img/cypher_logo_black.png" alt="logo" />
      </a>
      <button class="btn" style="font-size: 20px; margin-left: 20%; padding-top: 0%;"><i class="fa fa-shopping-bag"></i></button>
    </div>
    
    <div id="mySidebar" class="sidebar">
      <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">×</a>
      <a href="#">About</a>
      <a href="#">Services</a>
      <a href="#">Clients</a>
      <a href="#">Contact</a>
    </div>
  </nav>

  

  <div class="row"> 
    <div  class="leftPane" *ngIf="router.url !== '/home' && isDesktopDevice" >
      <div class="dropdown">
        <a role="button"  class="dropbtn" [routerLink]="['/active']">Sell</a><br>
      </div>
        <div id="catMenu" class="dropdown">
          <a role="button"  class="dropbtn" (click)="dropdownClick()" data-toggle="dropdown">Categories</a>
          <div id="myDropdown" class="dropdown-menu" (click)="stopIt($event)" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" [routerLink]="['/sneakers']">Sneakers</a>
            <a class="dropdown-item" [routerLink]="['/profile']">Apparels</a>
            <a class="dropdown-item" [routerLink]="['/profile']">Accessories</a>
          </div>
        </div>
        <div id="catBreak" style="display: none;">
          <br><br><br>
        </div>
        <div class="dropdown">
          <a role="button" class="dropbtn">Feed</a>
        </div>
        <div class="dropdown">
          <a role="button" class="dropbtn" [routerLink]="['/wishlist']">Wishlist</a>
        </div>
        <div class="dropdown">
            <a class="dropbtn" data-toggle="dropdown" (click)="accountClick()">Account</a>
            <div class="dropdown-menu" (click)="stopIt($event)" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" [routerLink]="['/profile/seller']">Profile</a>
              <a class="dropdown-item" [routerLink]="['/portifolio']">Portifolio</a>
              <a class="dropdown-item" [routerLink]="['/order']">Orders</a>
              <a class="dropdown-item">Settings</a>
              <a class="dropdown-item" [routerLink]="['/active']">Seller Dashboard</a>
            </div>
        </div>
    </div>
    <div class="content" *ngIf="router.url !== '/home'" style="width: 83%; min-height: 65vh; padding-left: 6%; z-index: 223;">
        <router-outlet></router-outlet>
    </div>
  </div>

    <!--Footer-->
    <!--Desktop Footer-->
    <div class="footer" *ngIf="router.url !== '/home' && isDesktopDevice" style="margin-bottom: 0%;">
      <footer class="py-3 text-white">
      
        <div class="col-12"  style="padding: 0%; ">
          <!--Line 1-->
          <div class="row" style="line-height: 90%; margin-left: 2%;">
            <div class="col-2">
              <span style="font-size: x-small; margin: 0%;margin-bottom: 0%;" id="content1">&#169;2020 CYPHER, INC.</span>
              <span style="font-size: x-small; padding: 0%; " id="content2">ALL RIGHTS RESERVED</span>
            </div>
            <span style="font-weight: bold; margin-left: 0.5%;">SIGN UP FOR EARLY ACCESS TO NEWS, PROMOTIONS AND MORE.</span>   
          </div>

         <!--Line 2-->
          <div class="row" style="padding: 0%;">
            <div class="col-2"></div>
              <input type="text" style="background-color: gainsboro;border: none; width: 40%; margin-left: 3%; " placeholder="Email"/>
              <div class="col-2">
                <button type="button" style="font-weight: 700; border: none; width: 100%; background-color: white; color: black;">SIGN UP</button>
              </div>
            </div><br>

            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <!--Line 3-->
            <div class="row" style="margin-left: 2%;">
              <div class="col-2">
                <i class="fa fa-instagram"></i> &nbsp;
                <i class="fa fa-facebook-official"></i> 
              </div>
              <span style="font-weight: bold; margin-left: 0.5%;"><a>HOW IT WORKS &nbsp;</a>|&nbsp; <a>FAQ &nbsp;</a>|
                &nbsp; <a>CONTACT US &nbsp;</a>|&nbsp; <a>PRIVACY &nbsp;</a>|&nbsp; <a>CAREERS</a>
              </span>
            </div>
        </div>
        
      </footer>
    </div>

    <!--Mobile Footer-->
    <div class="col-12 mobFooter" *ngIf="router.url !== '/home' && isMobile">
      <div style="margin-left: 6%; margin-bottom: 1%; margin-top: 2%;">
        SIGN UP FOR EARLY ACCESS TO NEWS, PROMOTIONS AND MORE.
      </div>
      <div style="margin-left: 6%; margin-bottom: 1%;">
        <div class="form-inline">
            <input type="text" style="width: 50%;" placeholder="Email"/>&nbsp;&nbsp;
            <button type="button" style="font-weight: 550; background-color: white; color: black;">SIGN UP</button>
        </div>
      </div>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <div>
        <i style="margin-left: 1%; margin-bottom: 2%;" class="fa fa-instagram"></i> &nbsp;
        <i class="fa fa-facebook-official"></i> 
        <span style="padding-left: 1%;">FAQs | Terms | Privacy | Support | Contact Us</span>
      </div>
    </div>

</div>
</div>


