
div.footer{
    height: 15%;
    background-color: black; 
    left: 0; 
    bottom: 0;
    width: 100%;  
}

div.col-2{
    font-weight: 900;
    padding-left:3%;
    position: relative;
}

div.header{
    margin-left: 2%;
}

div.row{
    font-family: Helvetica;
}

.dropbtn {
  overflow: visible;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  padding-left: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
  
.dropdown {
  padding-left: 4%;
}
  
.dropdown-menu{
  border: none;
  padding: 0%;
}

.dropdown-item{
  padding-left: 30%;
  padding-bottom: 0%;
  padding-top: 0%;
  font-size: 16px;
  font-weight: 900;
  color: gray;
}

.dropdown-menu>a:focus, .dropdown-menu>a:hover {
  color: #262626!important;
  background-color: white!important;
}

.logo-section {
  width: 200px;
  left: 0;
  height: 80px;
}