
div.footer{
    height: 15%;
    background-color: black; 
    left: 0; 
    bottom: 0;
    width: 100%;  
}

div.col-2{
    font-weight: 900;
    padding-left:3%;
    position: relative;
}

div.header{
    margin-left: 2%;
}

div.row{
    font-family: Helvetica;
}

.dropbtn {
  overflow: visible;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  padding-left: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
  
.dropdown {
  padding-left: 4%;
}
  
.dropdown-menu{
  border: none;
  padding: 0%;
}

.dropdown-item{
  padding-left: 30%;
  padding-bottom: 0%;
  padding-top: 0%;
  font-size: 16px;
  font-weight: 900;
  color: gray;
}

.dropdown-menu>a:focus, .dropdown-menu>a:hover {
  color: #262626!important;
  background-color: white!important;
}

.logo-section {
  width: 200px;
  left: 0;
  height: 80px;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 12px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  padding: 2%;
  font-size: 24px;
  margin-left: 50px;
}

.openbtn {
  margin-right: 10% ;
  font-size: 25px;
  cursor: pointer;
  background-color: white;
  color: black;
  border: none;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.mob-logo-section {
  left: 0;
  height: 70px; 
  margin-left: 12% ;

}


div.mobFooter{
  font-size: 7px;
  height: 15%;
  color: white;
  background-color: black; 
  left: 0; 
  bottom: 0;
  width: 100%;  
}