<div style="padding-bottom: 8%;">

<!--Steal Deals-->
<div class="col-12"> 
  <a style="color:crimson;" >Steal Deals</a>
  <a role="button" style="float: right;" (click)="openStealDealsNav()">Filter</a><br>
  
  <div id="mySidebar" class="sidebar">
    <label>Sort By</label>
    <a role="button">Best Selling</a>
    <a role="button">Price Low</a>
    <a role="button">Price High</a><br>
    <label>Filters</label>
    <hr align="top" style="border: 1px solid; margin-top:0%; margin-right: 3%; margin-left: 32px;">
    <div class="row">
      <div class="col-6">
        <span>Size</span><br>
        <a role="button">UK XX</a>
        <a role="button">UK XX</a>
        <a role="button">UK XX</a>
        <a role="button">UK XX</a>
        <a role="button">UK XX</a>
      </div>
      <div class="col-6">
        <span>Brand</span>
        <a role="button">NAME</a>
        <a role="button">NAME</a>
        <a role="button">NAME</a>

      </div>
    </div>
    
    

    <button role="button" (click)="closeStealDealsNav()">Apply Filter </button>

  </div>

<br>
<!--Row1-->
<div class="row">
    <!--Product1-->
    <div class="column">
      <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
        <div class="card-img-overlay"><a role="button">+</a></div>
      </div>
      <div class="card-body">
        AIR JORDAN 4 RETRO<br>
        <span style="color: darkgray;">$  Price</span>
      </div>
    </div>
    <!--Product2-->
    <div class="column">
      <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
        <div class="card-img-overlay"><a role="button">+</a></div>
      </div>
      <div class="card-body">
        AIR JORDAN 4 RETRO<br>
        <span style="color: darkgray;">$  Price</span>
      </div>  
    </div>
    <!--Product3-->
    <div class="column">
      <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
        <div class="card-img-overlay"><a role="button">+</a></div>
      </div>
      <div class="card-body">
        AIR JORDAN 4 RETRO<br>
        <span style="color: darkgray;">$  Price</span>
      </div> 
    </div>
    <!--Product4-->
    <div class="column">
      <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
        <div class="card-img-overlay"><a role="button">+</a></div>
      </div>
      <div class="card-body"    >
        AIR JORDAN 4 RETRO<br>
        <span style="color: darkgray;">$  Price</span>
      </div>
    </div>
</div><!--Row 1 Ends--><br>

<!--Row2-->
<div class="row">
  <!--Product5-->
  <div class="column">
    <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
      <div class="card-img-overlay"><a role="button">+</a></div>
    </div>
    <div class="card-body">
      AIR JORDAN 4 RETRO<br>
      <span style="color: darkgray;">$  Price</span>
    </div>
  </div>
  <!--Product6-->
  <div class="column">
    <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
      <div class="card-img-overlay"><a role="button">+</a></div>
    </div>
    <div class="card-body">
      AIR JORDAN 4 RETRO<br>
      <span style="color: darkgray;">$  Price</span>
    </div>  
  </div>
  <!--Product7-->
  <div class="column">
    <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
      <div class="card-img-overlay"><a role="button">+</a></div>
    </div>
    <div class="card-body">
      AIR JORDAN 4 RETRO<br>
      <span style="color: darkgray;">$  Price</span>
    </div> 
  </div>
  <!--Product8-->
  <div class="column">
    <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
      <div class="card-img-overlay"><a role="button">+</a></div>
    </div>
    <div class="card-body"    >
      AIR JORDAN 4 RETRO<br>
      <span style="color: darkgray;">$  Price</span>
    </div>
  </div>
</div><!--Row 2 Ends--><br>

<!--Row3-->
<div class="row">
  <!--Product9-->
  <div class="column">
    <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
      <div class="card-img-overlay"><a role="button">+</a></div>
    </div>
    <div class="card-body">
      AIR JORDAN 4 RETRO<br>
      <span style="color: darkgray;">$  Price</span>
    </div>
  </div>
  <!--Product10-->
  <div class="column">
    <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
      <div class="card-img-overlay"><a role="button">+</a></div>
    </div>
    <div class="card-body">
      AIR JORDAN 4 RETRO<br>
      <span style="color: darkgray;">$  Price</span>
    </div>  
  </div>
  <!--Product11-->
  <div class="column">
    <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
      <div class="card-img-overlay"><a role="button">+</a></div>
    </div>
    <div class="card-body">
      AIR JORDAN 4 RETRO<br>
      <span style="color: darkgray;">$  Price</span>
    </div> 
  </div>
  <!--Product12-->
  <div class="column">
    <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
      <div class="card-img-overlay"><a role="button">+</a></div>
    </div>
    <div class="card-body">
      AIR JORDAN 4 RETRO<br>
      <span style="color: darkgray;">$  Price</span>
    </div>
  </div>
</div><!--Row 3 Ends--><br>

<label style="font-weight: 600;">Show more</label>
<hr align="top" style="border: 1px solid; margin-top:0%;">
<br>
</div>

<!--Apparels-->
<div class="col-12"> 
  <a >Apparel</a>
  <a role="button" style="float: right;" (click)="openApparelNav()">Filter</a><br>
  
  <div id="mySidebar" class="sidebar">
    <label>Sort By</label>
    <a role="button">Best Selling</a>
    <a role="button">Price Low</a>
    <a role="button">Price High</a><br>
    <label>Filters</label>
    <hr align="top" style="border: 1px solid; margin-top:0%; margin-right: 3%; margin-left: 32px;">
    <span>Size</span>
    <span style="margin-left: 30%;">Brand</span><br><br><br>

    <button role="button" (click)="closeApparelNav()">Apply Filter </button>

  </div>

  <!--Image should be placed-->
  <br>

<!--Row1-->
<div class="row">
  <!--Product1-->
  <div class="column">
    <div class="card img-fluid" (click)="goToProductInfo(0)"><img class="card-img-top" src="/assets/img/img1.jpg" alt="Card image cap">
      <div class="card-img-overlay"><a role="button">+</a></div>
    </div>
    <div class="card-body">
      AIR JORDAN 4 RETRO<br>
      <span style="color: darkgray;">$  Price</span>
    </div>
  </div>
  <!--Product2-->
  <div class="column">
    <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
      <div class="card-img-overlay"><a role="button">+</a></div>
    </div>
    <div class="card-body">
      AIR JORDAN 4 RETRO<br>
      <span style="color: darkgray;">$  Price</span>
    </div>  
  </div>
  <!--Product3-->
  <div class="column">
    <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
      <div class="card-img-overlay"><a role="button">+</a></div>
    </div>
    <div class="card-body">
      AIR JORDAN 4 RETRO<br>
      <span style="color: darkgray;">$  Price</span>
    </div> 
  </div>
  <!--Product4-->
  <div class="column">
    <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
      <div class="card-img-overlay"><a role="button">+</a></div>
    </div>
    <div class="card-body"    >
      AIR JORDAN 4 RETRO<br>
      <span style="color: darkgray;">$  Price</span>
    </div>
  </div>
</div><!--Row 1 Ends--><br>

<!--Row2-->
<div class="row">
<!--Product5-->
<div class="column">
  <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
    <div class="card-img-overlay"><a role="button">+</a></div>
  </div>
  <div class="card-body">
    AIR JORDAN 4 RETRO<br>
    <span style="color: darkgray;">$  Price</span>
  </div>
</div>
<!--Product6-->
<div class="column">
  <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
    <div class="card-img-overlay"><a role="button">+</a></div>
  </div>
  <div class="card-body">
    AIR JORDAN 4 RETRO<br>
    <span style="color: darkgray;">$  Price</span>
  </div>  
</div>
<!--Product7-->
<div class="column">
  <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
    <div class="card-img-overlay"><a role="button">+</a></div>
  </div>
  <div class="card-body">
    AIR JORDAN 4 RETRO<br>
    <span style="color: darkgray;">$  Price</span>
  </div> 
</div>
<!--Product8-->
<div class="column">
  <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
    <div class="card-img-overlay"><a role="button">+</a></div>
  </div>
  <div class="card-body"    >
    AIR JORDAN 4 RETRO<br>
    <span style="color: darkgray;">$  Price</span>
  </div>
</div>
</div><!--Row 2 Ends--><br>

<!--Row3-->
<div class="row">
<!--Product9-->
<div class="column">
  <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
    <div class="card-img-overlay"><a role="button">+</a></div>
  </div>
  <div class="card-body">
    AIR JORDAN 4 RETRO<br>
    <span style="color: darkgray;">$  Price</span>
  </div>
</div>
<!--Product10-->
<div class="column">
  <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
    <div class="card-img-overlay"><a role="button">+</a></div>
  </div>
  <div class="card-body">
    AIR JORDAN 4 RETRO<br>
    <span style="color: darkgray;">$  Price</span>
  </div>  
</div>
<!--Product11-->
<div class="column">
  <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
    <div class="card-img-overlay"><a role="button">+</a></div>
  </div>
  <div class="card-body">
    AIR JORDAN 4 RETRO<br>
    <span style="color: darkgray;">$  Price</span>
  </div> 
</div>
<!--Product12-->
<div class="column">
  <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
    <div class="card-img-overlay"><a role="button">+</a></div>
  </div>
  <div class="card-body">
    AIR JORDAN 4 RETRO<br>
    <span style="color: darkgray;">$  Price</span>
  </div>
</div>
</div><!--Row 3 Ends--><br>

<label style="font-weight: 600;">Show more</label>
<hr align="top" style="border: 1px solid; margin-top:0%;">
<br>

</div>

<!--Recommended-->
<div class="col-12">
  <h5 style="font-weight: bold;">Recommended</h5><br>
</div>


<div class="container"> 
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class=" col-md-1" style="width:2%; float: left;padding-top: 25%;">
      <a class="carousel-control-prev" style="color: black;font-weight: bolder; font-size: 24px;" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span><
      </a>
    </div>

    <div class="carousel-inner col-11">
      <div class="carousel-item col-11 active">
        <div class="row">
            <div class="col-3">
                <div class="card"><img class="card-img-top"  alt="Card image cap"></div>
                <div style="padding-top: 10%; font-size: small; font-weight: bolder;">
                  AIR JORDAN 4 RETRO<br>
                 <span style="color: darkgray;">$  Price</span>
                </div>
            </div>
            <div class="col-3">
                <div class="card"><img class="card-img-top" alt="Card image cap"></div>
                <div style="padding-top: 10%; font-size: small; font-weight: bolder;">
                  AIR JORDAN 4 RETRO<br>
                 <span style="color: darkgray;">$  Price</span>
                </div> 
            </div>
            <div class="col-3">
                <div class="card"><img class="card-img-top" alt="Card image cap">  </div>
                <div style="padding-top: 10%; font-size: small; font-weight: bolder;">
                  AIR JORDAN 4 RETRO<br>
                 <span style="color: darkgray;">$  Price</span>
                </div>
            </div>
            <div class="col-3">
                <div class="card"><img class="card-img-top" alt="Card image cap">  </div>
                <div style="padding-top: 10%; font-size: small; font-weight: bolder;">
                  AIR JORDAN 4 RETRO<br>
                 <span style="color: darkgray;">$  Price</span>
                </div>
            </div>
          </div>
        </div>
        <div class="carousel-item col-11">
            <div class="row">
              <div class="col-3">
                <div class="card"><img class="card-img-top"  alt="Card image cap">  </div>
                <div style="padding-top: 10%; font-size: small; font-weight: bolder;">
                  AIR JORDAN 4 RETRO<br>
                 <span style="color: darkgray;">$  Price</span>
                </div>
              </div>
              <div class="col-3">
                <div class="card"><img class="card-img-top" alt="Card image cap">  </div>
                <div style="padding-top: 10%; font-size: small; font-weight: bolder;">
                  AIR JORDAN 4 RETRO<br>
                 <span style="color: darkgray;">$  Price</span>
                </div>
              </div>
              <div class="col-3">
                <div class="card"><img class="card-img-top" alt="Card image cap">  </div>
                <div style="padding-top: 10%; font-size: small; font-weight: bolder;">
                  AIR JORDAN 4 RETRO<br>
                 <span style="color: darkgray;">$  Price</span>
                </div>
              </div>
              <div class="col-3">
                <div class="card"><img class="card-img-top" alt="Card image cap">  </div>
                <div style="padding-top: 10%; font-size: small; font-weight: bolder;">
                  AIR JORDAN 4 RETRO<br>
                 <span style="color: darkgray;">$  Price</span>
                </div>
              </div>
            </div>
        </div>
        <div class="col-md-1" style="float: right;padding-top: 25%;" >
          <a class="carousel-control-next" style="color: black;font-weight: bolder;  font-size: 24px;" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
          ></a>
        </div>
      </div>
    </div>
</div> <br><br>


</div>

