.col-12{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}

label{
    font-weight: bolder;
}



.logo-section {
  width: 200px;
  left: 0;
  height: 80px;
  margin-left: 0%;
  padding-left: 0%;
}

div.col-2{
  font-size: large;
  font-weight: 900;
  position: relative;
  cursor: pointer;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
    border-radius: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 0px;  
    text-align: center;
    background-color: #f1f1f1;
  }

  .card-img-overlay a{
    float: right;
    font-size:x-large;
  }

  .card-body{
    padding-left: 0%;
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
  }

  .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
  }

.btn-sm.btn-block{
  background-color: black;
  color: white;
  font-weight: 800;
}

.sidebar {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #000000;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidebar label {
  font-weight: 900;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  display: block;
  transition: 0.3s;
  padding-bottom: 0;
  margin-bottom: 0;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 12px;
  color: gray;
  display: block;
  transition: 0.3s;
}

.sidebar button {
  margin-top:20%;
  margin-left: 32px; 
  text-decoration: none;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  font-size: 16px;
  display: block;
}

.sidebar a:hover {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 12px;
  color: white;
  background-color: black;
  display: block;
  transition: 0.3s;
}

.sidebar a:focus {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 12px;
  color: white;
  background-color: black;
  display: block;
  transition: 0.3s;
}


.card.img-fluid :hover{
  cursor: pointer;
}


.dropbtn {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  color: black;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
  
.dropdown-menu{
  float: right;
  background-color: white;
  right: 0%;
  border: none; 
  width: 25%;
  padding: 0%;
}

.dropdown-item{
  padding-bottom: 0%;
  padding-top: 0%;
  font-size: 16px;
  font-weight: 900;
  color: gray;
  cursor: pointer;
}
a.dropdown-item:hover, a.dropdown-item:hover{
  color: black;
  background-color: white;
}

.container{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

div.footer{
  height: 15%;
  background-color: black; 
  left: 0; 
  bottom: 0;
  width: 100%;  
}