
<div class="col-12" id="background" style="z-index: -1; background-image: url(/assets/img/banner1.jpg); height: 370px; position: fixed;">
  
</div>

<nav  class="navbar navbar-expand sticky-top" id="diff" style="z-index: 1; position: fixed; width: 100%;" >
  <div class="col-2">
    <a class="navbar-brand" href="#" style="width: 15%;margin-bottom: 0%;padding-bottom: 0%; ">
      <img id="blackLogo" style="display: none;" class="logo-section" src="/assets/img/cypher_logo_black.png" alt="logo" />
      <img id="whiteLogo" class="logo-section" src="/assets/img/cypher_logo_white.png" alt="logo" />
    </a>
  </div>
  <div class="col-10">
    <button class="btn btn--search btn--3 btn--icon icon-far" style="float: right;"><i class="fa fa-shopping-bag"></i></button>  
    <button *ngIf="searchBool" class="btn btn--search btn--3 btn--icon icon-far" style="float: right;"  (click)="searchBarClose()"><i class="fa fa-close"></i></button>
    <input id="inputSearch" class="inputSearch" type="text" style="float: right;">
    <button class="btn btn--search btn--3 btn--icon icon-far" style="float: right;" (click)="searchBar()"><i class="fa fa-search"></i></button>
  </div>  
</nav>
<hr align="top" id="hrLine" style="z-index: 3; border: 1px solid; margin-top:0%; max-width: 100%; margin-left: 4%; margin-right: 3%;">

<div class="row" id="content"  style="margin-top: 400px; max-width: 100%;">
  <div class="col-2" >
    <a style="padding-left: 25px; color: black;text-decoration: none;" (click)="goToSell()">Sell</a><br>
    <a style="padding-left: 25px; color: black;text-decoration: none;">How it works</a><br>
    <a style="padding-left: 25px; color: black;text-decoration: none;">Categories</a><br>
    <a style="padding-left: 25px; color: black;text-decoration: none;">Feed</a><br> 
    <div class="dropdown" style="padding-left: 25px;" >
        <a class="dropbtn" data-toggle="dropdown">Account</a>
        <div class="dropdown-menu" (click)="stopIt($event)" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" (click)="goToProfile()">Profile</a>
          <a class="dropdown-item" (click)="goToPortifolio()">Portifolio</a>
          <a class="dropdown-item" (click)="goToOrder()">Orders</a>
          <a class="dropdown-item" >Settings</a>
          <a class="dropdown-item" (click)="goToSellerDashboard()">Seller Dashboard</a>
        </div>
    </div>

  </div>
<div class="col-10" style="padding-bottom: 8%; max-width: 100%;">

<!--Steal Deals-->
<div class="col-12"> 
  <a style="color:crimson;font-weight: bold; font-size: 18px;">Steal Deals</a>
  <a role="button" style="float: right;" (click)="openStealDealsNav()">Filter</a><br>
  
  <div id="mySidebar" class="sidebar" style="z-index: 2;" >
    <div class="row">
      <div class="col-12" style="padding-left: 0%;">
        <label>Sort by</label><br>
        <a role="button" id="bestSell" (click)="sortByFilter($event)">Best Selling</a>
        <a role="button" id="lowPrice" (click)="sortByFilter($event)">Price Low</a>
        <a role="button" id="highPrice" (click)="sortByFilter($event)">Price High</a>
      </div>
    </div>
    <div class="row">
      <div class="col-12" style="padding-left: 0%;" >
        <label>Filters</label>
        <label><hr align="top" style="border: 1px solid white;margin-top: 0%;padding-top: 0%; width: 100%; "></label> 
      </div>
    </div>

    <div class="row">
      <div class="col-6" style="padding-left: 0%;">
        <label>Size</label>
        <a role="button" id="UK6" (click)="sizeFilter($event)">UK XX</a>
        <a role="button" id="UK7" (click)="sizeFilter($event)">UK XX</a>
        <a role="button" id="UK8" (click)="sizeFilter($event)">UK XX</a>
        <a role="button" id="UK9" (click)="sizeFilter($event)">UK XX</a>
        <a role="button" id="UK10" (click)="sizeFilter($event)">UK XX</a>
        <a role="button" id="UK11" (click)="sizeFilter($event)">UK XX</a>
        <a role="button" id="UK12" (click)="sizeFilter($event)">UK XX</a>
      </div>
      <div class="col-6">
        <label>Brand</label>
        <a role="button" id="brand1" (click)="brandFilter($event)">NAME</a>
        <a role="button" id="brand2" (click)="brandFilter($event)">NAME</a>
        <a role="button" id="brand3" (click)="brandFilter($event)">NAME</a>
        <a role="button" id="brand4" (click)="brandFilter($event)">NAME</a>
        <a role="button" id="brand5" (click)="brandFilter($event)">NAME</a>
      </div>
    </div>
    <button role="button" (click)="closeStealDealsNav()">Apply Filter </button>

  </div>

<br>
<!--Row1-->
<div class="row">
    <!--Product1-->
    <div class="column">
      <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
        <div class="card-img-overlay"><a role="button">+</a></div>
      </div>
      <div class="card-body">
        AIR JORDAN 4 RETRO<br>
        <span style="color: darkgray;">$  Price</span>
      </div>
    </div>
    <!--Product2-->
    <div class="column">
      <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
        <div class="card-img-overlay"><a role="button">+</a></div>
      </div>
      <div class="card-body">
        AIR JORDAN 4 RETRO<br>
        <span style="color: darkgray;">$  Price</span>
      </div>  
    </div>
    <!--Product3-->
    <div class="column">
      <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
        <div class="card-img-overlay"><a role="button">+</a></div>
      </div>
      <div class="card-body">
        AIR JORDAN 4 RETRO<br>
        <span style="color: darkgray;">$  Price</span>
      </div> 
    </div>
    <!--Product4-->
    <div class="column">
      <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
        <div class="card-img-overlay"><a role="button">+</a></div>
      </div>
      <div class="card-body">
        AIR JORDAN 4 RETRO<br>
        <span style="color: darkgray;">$  Price</span>
      </div>
    </div>
</div><!--Row 1 Ends--><br>

<!--Row2-->
<div class="row">
  <!--Product5-->
  <div class="column">
    <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
      <div class="card-img-overlay"><a role="button">+</a></div>
    </div>
    <div class="card-body">
      AIR JORDAN 4 RETRO<br>
      <span style="color: darkgray;">$  Price</span>
    </div>
  </div>
  <!--Product6-->
  <div class="column">
    <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
      <div class="card-img-overlay"><a role="button">+</a></div>
    </div>
    <div class="card-body">
      AIR JORDAN 4 RETRO<br>
      <span style="color: darkgray;">$  Price</span>
    </div>  
  </div>
  <!--Product7-->
  <div class="column">
    <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
      <div class="card-img-overlay"><a role="button">+</a></div>
    </div>
    <div class="card-body">
      AIR JORDAN 4 RETRO<br>
      <span style="color: darkgray;">$  Price</span>
    </div> 
  </div>
  <!--Product8-->
  <div class="column">
    <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
      <div class="card-img-overlay"><a role="button">+</a></div>
    </div>
    <div class="card-body"    >
      AIR JORDAN 4 RETRO<br>
      <span style="color: darkgray;">$  Price</span>
    </div>
  </div>
</div><!--Row 2 Ends--><br>

<!--Row3-->
<div class="row">
  <!--Product9-->
  <div class="column">
    <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
      <div class="card-img-overlay"><a role="button">+</a></div>
    </div>
    <div class="card-body">
      AIR JORDAN 4 RETRO<br>
      <span style="color: darkgray;">$  Price</span>
    </div>
  </div>
  <!--Product10-->
  <div class="column">
    <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
      <div class="card-img-overlay"><a role="button">+</a></div>
    </div>
    <div class="card-body">
      AIR JORDAN 4 RETRO<br>
      <span style="color: darkgray;">$  Price</span>
    </div>  
  </div>
  <!--Product11-->
  <div class="column">
    <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
      <div class="card-img-overlay"><a role="button">+</a></div>
    </div>
    <div class="card-body">
      AIR JORDAN 4 RETRO<br>
      <span style="color: darkgray;">$  Price</span>
    </div> 
  </div>
  <!--Product12-->
  <div class="column">
    <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
      <div class="card-img-overlay"><a role="button">+</a></div>
    </div>
    <div class="card-body">
      AIR JORDAN 4 RETRO<br>
      <span style="color: darkgray;">$  Price</span>
    </div>
  </div>
</div><!--Row 3 Ends--><br>

<label style="font-weight: lighter;" >Show more</label>
<hr align="top" style="border: 1px solid; margin-top:0%;">
<br>
</div>

<!--Apparel-->
<div class="col-12"> 
  <a style="font-size: 18px; font-weight: bolder;">Apparel</a>
  <a role="button" style="float: right;" (click)="openApparelNav()">Filter</a><br>
  
  <div id="mySidebar" class="sidebar">
    <div class="row">
      <div class="col-12" style="padding-left: 0%;">
        <label>Sort by</label><br>
        <a role="button" id="bestSell" (click)="sortByFilter($event)">Best Selling</a>
        <a role="button" id="lowPrice" (click)="sortByFilter($event)">Price Low</a>
        <a role="button" id="highPrice" (click)="sortByFilter($event)">Price High</a>
      </div>
    </div>
    <div class="row">
      <div class="col-12" style="padding-left: 0%;" >
        <label>Filters</label>
        <label><hr align="top" style="border: 1px solid white;margin-top: 0%;padding-top: 0%; width: 100%; "></label> 
      </div>
    </div>

    <div class="row">
      <div class="col-6" style="padding-left: 0%;">
        <label>Size</label>
        <a role="button" id="UK6" (click)="sizeFilter($event)">UK XX</a>
        <a role="button" id="UK7" (click)="sizeFilter($event)">UK XX</a>
        <a role="button" id="UK8" (click)="sizeFilter($event)">UK XX</a>
        <a role="button" id="UK9" (click)="sizeFilter($event)">UK XX</a>
        <a role="button" id="UK10" (click)="sizeFilter($event)">UK XX</a>
        <a role="button" id="UK11" (click)="sizeFilter($event)">UK XX</a>
        <a role="button" id="UK12" (click)="sizeFilter($event)">UK XX</a>
      </div>
      <div class="col-6">
        <label>Brand</label>
        <a role="button" id="brand1" (click)="brandFilter($event)">NAME</a>
        <a role="button" id="brand2" (click)="brandFilter($event)">NAME</a>
        <a role="button" id="brand3" (click)="brandFilter($event)">NAME</a>
        <a role="button" id="brand4" (click)="brandFilter($event)">NAME</a>
        <a role="button" id="brand5" (click)="brandFilter($event)">NAME</a>
      </div>

      <button role="button" (click)="closeApparelNav()">Apply Filter </button>
    </div>    
  </div><br>
  <!--Banner 2-->
    <img style="width: 100%;" src="/assets/img/banner2.jpg">
  <br>
  <br>

<!--Row1-->
<div class="row">
  <!--Product1-->
  <div class="column">
    <div class="card img-fluid" (click)="goToProductInfo(0)"><img class="card-img-top" src="/assets/img/img1.jpg" alt="Card image cap">
      <div class="card-img-overlay"><a role="button">+</a></div>
    </div>
    <div class="card-body">
      AIR JORDAN 4 RETRO<br>
      <span style="color: darkgray;">$  Price</span>
    </div>
  </div>
  <!--Product2-->
  <div class="column">
    <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
      <div class="card-img-overlay"><a role="button">+</a></div>
    </div>
    <div class="card-body">
      AIR JORDAN 4 RETRO<br>
      <span style="color: darkgray;">$  Price</span>
    </div>  
  </div>
  <!--Product3-->
  <div class="column">
    <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
      <div class="card-img-overlay"><a role="button">+</a></div>
    </div>
    <div class="card-body">
      AIR JORDAN 4 RETRO<br>
      <span style="color: darkgray;">$  Price</span>
    </div> 
  </div>
  <!--Product4-->
  <div class="column">
    <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
      <div class="card-img-overlay"><a role="button">+</a></div>
    </div>
    <div class="card-body"    >
      AIR JORDAN 4 RETRO<br>
      <span style="color: darkgray;">$  Price</span>
    </div>
  </div>
</div><!--Row 1 Ends--><br>

<!--Row2-->
<div class="row">
<!--Product5-->
<div class="column">
  <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
    <div class="card-img-overlay"><a role="button">+</a></div>
  </div>
  <div class="card-body">
    AIR JORDAN 4 RETRO<br>
    <span style="color: darkgray;">$  Price</span>
  </div>
</div>
<!--Product6-->
<div class="column">
  <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
    <div class="card-img-overlay"><a role="button">+</a></div>
  </div>
  <div class="card-body">
    AIR JORDAN 4 RETRO<br>
    <span style="color: darkgray;">$  Price</span>
  </div>  
</div>
<!--Product7-->
<div class="column">
  <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
    <div class="card-img-overlay"><a role="button">+</a></div>
  </div>
  <div class="card-body">
    AIR JORDAN 4 RETRO<br>
    <span style="color: darkgray;">$  Price</span>
  </div> 
</div>
<!--Product8-->
<div class="column">
  <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
    <div class="card-img-overlay"><a role="button">+</a></div>
  </div>
  <div class="card-body"    >
    AIR JORDAN 4 RETRO<br>
    <span style="color: darkgray;">$  Price</span>
  </div>
</div>
</div><!--Row 2 Ends--><br>

<!--Row3-->
<div class="row">
<!--Product9-->
<div class="column">
  <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
    <div class="card-img-overlay"><a role="button">+</a></div>
  </div>
  <div class="card-body">
    AIR JORDAN 4 RETRO<br>
    <span style="color: darkgray;">$  Price</span>
  </div>
</div>
<!--Product10-->
<div class="column">
  <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
    <div class="card-img-overlay"><a role="button">+</a></div>
  </div>
  <div class="card-body">
    AIR JORDAN 4 RETRO<br>
    <span style="color: darkgray;">$  Price</span>
  </div>  
</div>
<!--Product11-->
<div class="column">
  <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
    <div class="card-img-overlay"><a role="button">+</a></div>
  </div>
  <div class="card-body">
    AIR JORDAN 4 RETRO<br>
    <span style="color: darkgray;">$  Price</span>
  </div> 
</div>
<!--Product12-->
<div class="column">
  <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
    <div class="card-img-overlay"><a role="button">+</a></div>
  </div>
  <div class="card-body">
    AIR JORDAN 4 RETRO<br>
    <span style="color: darkgray;">$  Price</span>
  </div>
</div>
</div><!--Row 3 Ends--><br>

<label style="font-weight: 600;">Show more</label>
<hr align="top" style="border: 1px solid; margin-top:0%;">
<br>

</div>

<!--Recommended-->
<div class="col-12">
  <h5 style="font-weight: bold;">Recommended</h5><br>
</div>


<div class="container"> 
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    

    <div class="carousel-inner col-12">
      <div class=" col-1" style="width:2%; float: left;padding-top: 20%;">
        <a class="carousel-control-prev" style="color: black;font-weight: bolder; font-size: 24px;" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span><
        </a>
      </div>
      <div class="carousel-item col-11 active">
        <div class="row">
            <div class="col-3">
                <div class="card"><img class="card-img-top"  alt="Card image cap"></div>
                <div style="padding-top: 10%; font-size: small; font-weight: bolder;">
                  AIR JORDAN 4 RETRO<br>
                 <span style="color: darkgray;">$  Price</span>
                </div>
            </div>
            <div class="col-3">
                <div class="card"><img class="card-img-top" alt="Card image cap"></div>
                <div style="padding-top: 10%; font-size: small; font-weight: bolder;">
                  AIR JORDAN 4 RETRO<br>
                 <span style="color: darkgray;">$  Price</span>
                </div> 
            </div>
            <div class="col-3">
                <div class="card"><img class="card-img-top" alt="Card image cap">  </div>
                <div style="padding-top: 10%; font-size: small; font-weight: bolder;">
                  AIR JORDAN 4 RETRO<br>
                 <span style="color: darkgray;">$  Price</span>
                </div>
            </div>
            <div class="col-3">
                <div class="card"><img class="card-img-top" alt="Card image cap">  </div>
                <div style="padding-top: 10%; font-size: small; font-weight: bolder;">
                  AIR JORDAN 4 RETRO<br>
                 <span style="color: darkgray;">$  Price</span>
                </div>
            </div>
          </div>
        </div>
        <div class="carousel-item col-11" style="margin-right: 0%;padding-right: 0%;">
            <div class="row">
              <div class="col-3">
                <div class="card"><img class="card-img-top"  alt="Card image cap">  </div>
                <div style="padding-top: 10%; font-size: small; font-weight: bolder;">
                  AIR JORDAN 4 RETRO<br>
                 <span style="color: darkgray;">$  Price</span>
                </div>
              </div>
              <div class="col-3">
                <div class="card"><img class="card-img-top" alt="Card image cap">  </div>
                <div style="padding-top: 10%; font-size: small; font-weight: bolder;">
                  AIR JORDAN 4 RETRO<br>
                 <span style="color: darkgray;">$  Price</span>
                </div>
              </div>
              <div class="col-3">
                <div class="card"><img class="card-img-top" alt="Card image cap">  </div>
                <div style="padding-top: 10%; font-size: small; font-weight: bolder;">
                  AIR JORDAN 4 RETRO<br>
                 <span style="color: darkgray;">$  Price</span>
                </div>
              </div>
              <div class="col-3">
                <div class="card"><img class="card-img-top" alt="Card image cap">  </div>
                <div style="padding-top: 10%; font-size: small; font-weight: bolder;">
                  AIR JORDAN 4 RETRO<br>
                 <span style="color: darkgray;">$  Price</span>
                </div>
              </div>
            </div>
        </div>
        <div class="col-1" style="margin-left: 90%; padding-top: 20%; color: red;"  >
          <a class="carousel-control-next" style="color: black;font-weight: bolder; " href="#myCarousel" role="button" data-slide="next">
            
            <i class="fas fa-greater-than" style="color: black;"></i>
            <span class="sr-only">Previous</span>
            
          </a>
        </div>
      </div>
     
    </div>
    
</div>


</div>

</div>
<div class="footer">
  <footer class="py-4 text-white">
  
    <div class="col-md-12"  style="padding: 0%;">
  
        <div style="margin-left: 18%; margin-bottom: 1%; ">
            SIGN UP FOR EARLY ACCESS TO NEWS, PROMOTIONS AND MORE.
        </div>   
        <div style="margin-left: 18%; margin-bottom: 1%;">
            <div class="form-inline">
                <input type="text" style="width: 50%;" placeholder="Email"/>&nbsp;&nbsp;
                <button type="button" style="font-weight: 550; width:10%; background-color: white; color: black;">SIGN UP</button>
            </div>
        </div>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <div>
            <i style="padding-left: 3%;" class="fa fa-instagram"></i> &nbsp;
            <i class="fa fa-facebook-official"></i> 
            <span style="padding-left: 12%;">FAQs | Terms | Privacy | Support | Contact Us</span>
        </div>
  
    </div>
    
  </footer>
</div>