.h100 {
  height: 100vh;
}

.relative {
  position: relative;
}

.logo-section {
  position: absolute;
  top: 25%;
  left: 50%;
  margin-left: -7.5em;
}

.main_logo {
  width: 15em;
  height: auto;
}

.text-section {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  left: 50%;
  margin-left: -35%;
  bottom: 20%;
}

p,
h3,
h2 {
  font-family: "Nunito", sans-serif;
}

.large-title {
  font-size: 2.5em;
}

.large-title span {
  display: block;
}
.black-font {
  color: #000000;
}

.white-font {
  color: #ffffff;
}

.slide-1 {
  background: #000000;
}

.input-group input {
  background: 0 0 !important;
  border: none !important;
  border-bottom: 2px solid #fff !important;
  color: #ffffff;
  border-radius: 0;
}

.input-group input::placeholder {
  color: #ffffff;
  font-size: 1.2em;
}

.input-group button {
  padding: 0 50px;
  background: #ffffff;
  font-size: 1.2em;
  color: #000000;
  border-radius: 0;
}

.input-group input:focus,
.input-group button:focus {
  outline: none;
  box-shadow: none !important;
}
/* slide 2 */
.slide-2 {
  background: url("/assets/img/img1.jpg") no-repeat bottom;
  background-size: cover;
}

.slide-5 h2,
.slide-4 h2,
.slide-3 h2,
.slide-2 h2 {
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.black-line {
  border-bottom: 1px solid #000000;
}

.slide-2 h3,
.slide-4 h3,
.slide-3 h3,
.slide-5 h3 {
  width: 80%;
  font-size: 1.3em;
  font-weight: 600;
  line-height: 1.5em;
}

.slide-2 span {
  display: block;
}

.slide-2 .text-section,
.slide-3 .text-section,
.slide-4 .text-section,
.slide-5 .text-section {
  bottom: unset;
  top: 50%;
}

/* slide 3 */
.slide-3 {
  background: url("/assets/img/img2.jpg") no-repeat bottom;
  background-size: cover;
}

.slide-3 span {
  display: block;
}

.white-line {
  border-bottom: 1px solid #fff;
}

/* slide 4 */
.slide-4 {
  background: url("/assets/img/img3.jpg") no-repeat bottom;
  background-size: cover;
}

.slide-4 span {
  display: block;
}

/* slide 5 */
.slide-5 {
  background: #000000;
}

.slide-5 h3 {
  width: 90%;
}

.slide-5 span {
  display: block;
}
