<div class="col-md-12" style="padding-bottom: 10%;">
<div style="font-weight: 800;">How it Works</div>
<br>
<div style="font-weight: 700;">
  1.&nbsp;&nbsp;&nbsp; Lorem ispum dolor sit amet, consectetur adipiscing elit.<br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Fusce eleifend nunc at nibh molestie, id interdum odio gravida.
  <br><br>
  2.&nbsp;&nbsp;&nbsp; Sed porttitor erat eget vestibulum egestas.<br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Etiam dignissim risus eu pretium vulputate.
  <br><br>
  3.&nbsp;&nbsp;&nbsp; Integer et erat tristique, tincidunt nunc a, dignissim erat.<br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Etiam porta nibh non nisi ornare, quis feugiat elit vestibulum.
</div><br><br>
<div style="font-weight: 800;">Here is a quick survey</div>
<br>

<!--Survey Form-->
<form name="form" novalidate>
          
  <div class="form-group">
    <label style="font-weight:700;">Which platform do you sell on?</label>
    <select class="col-md-6 form-control form-control-sm">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
    <!--<div *ngIf="email.invalid && (email.dirty ||email.touched)" class="invalid-feedback">
    <div *ngIf="email.errors.required">Email is required</div>
    <div *ngIf="email.errors.email">Email must be a valid email address</div>
    </div>-->
  </div>

    <div class="form-group">
      <label style="font-weight:700;">What's your instagram username?</label>
      <input type="text" class="col-md-6 form-control form-control-sm" />
        <!--<div *ngIf="password.invalid && (password.dirty ||password.touched)" class="invalid-feedback">
        <div *ngIf="password.errors.required">Password is required</div>
        <div *ngIf="password.errors.minlength">Please enter atleast 6 characters </div>
        </div>-->
    </div>

    <div class="form-group">
        <label style="font-weight:700;">What is the average no. of items sold monthly?</label>
        <input type="text" class="col-md-6 form-control form-control-sm" />
        <!--<div *ngIf="password.invalid && (password.dirty ||password.touched)" class="invalid-feedback">
        <div *ngIf="password.errors.required">Password is required</div>
        <div *ngIf="password.errors.minlength">Please enter atleast 6 characters </div>
         </div>-->
    </div>

    <div class="form-group">
        <label style="font-weight:700;">What is the average inventory size?</label>
        <input type="text" class="col-md-6 form-control form-control-sm" />
        <!--<div *ngIf="password.invalid && (password.dirty ||password.touched)" class="invalid-feedback">
        <div *ngIf="password.errors.required">Password is required</div>
        <div *ngIf="password.errors.minlength">Please enter atleast 6 characters </div>
        </div>-->
    </div>

    <div class="form-group">
        <label style="font-weight:700;">What's is the most siginificant problem in selling on Instagram?</label>
        <select class="col-md-6 form-control form-control-sm">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
        <!--<div *ngIf="password.invalid && (password.dirty ||password.touched)" class="invalid-feedback">
        <div *ngIf="password.errors.required">Password is required</div>
        <div *ngIf="password.errors.minlength">Please enter atleast 6 characters </div>
        </div>-->
    </div>

    <div class="form-group">
        <button type="button" style="background-color: black; color: white;" class="col-md-6 btn btn-primary btn-sm btn-block">PROCEED</button>
    </div><br>
          
</form>
</div>