
<h6><b>Dashboard</b></h6>
<br>
<h4 style="font-weight: bolder;">SHRAVAN SUD</h4>
<hr style="border: 1px solid;">

<ul class="nav">
  <li class="nav-item">
    <a  class="nav-link active" href="#">My Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="goToPortifolio()">Portifolio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="goToOrders()">Orders</a>
  </li>
</ul><br>


<div class="col-12">

  <div class="row">

      <div class="col-6" style="padding-bottom: 10%;">
        <br>
          <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

              <!--First Name-->
              <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control form-control-sm" name="firstName" [(ngModel)]="user.firstName" #firstName="ngModel" required />
                <div *ngIf="firstName.invalid && (firstName.dirty ||firstName.touched)" class="invalid-feedback">
                  <div *ngIf="firstName.errors.required">First Name is required</div>
                </div>
            </div>
            <!--Last Name-->
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control form-control-sm" name="lastName" [(ngModel)]="user.lastName" #lastName="ngModel" required />
                <div *ngIf="lastName.invalid && (lastName.dirty ||lastName.touched)" class="invalid-feedback">
                  <div *ngIf="lastName.errors.required">Last Name is required</div>
                </div>
            </div>
            <!--Address-->
            <div class="form-group">
              <label for="address">Address</label>
              <input type="text" class="form-control form-control-sm" name="address" [(ngModel)]="user.address" #address="ngModel" required />
              <div *ngIf="address.invalid && (address.dirty ||address.touched)" class="invalid-feedback">
                <div *ngIf="address.errors.required">Address is required</div>
              </div>
            </div>

            <!--State-->
            <div class="form-group">
              <label for="state">State</label>
              <input type="text" class="form-control form-control-sm" name="state" [(ngModel)]="user.state" #state="ngModel" required />
              <div *ngIf="state.invalid && (state.dirty ||state.touched)" class="invalid-feedback">
                <div *ngIf="state.errors.required">State is required</div>
              </div>
            </div>

            <!--Zip Code-->
            <div class="form-group">
              <label for="zip">Zip Code</label>
              <input type="number" class="form-control form-control-sm" name="zip" [(ngModel)]="user.zip" #zip="ngModel" required />
              <div *ngIf="zip.invalid && (zip.dirty ||zip.touched)" class="invalid-feedback">
                <div *ngIf="zip.errors.required">Zip Code is required</div>
              </div>
            </div>

            <!--Country-->
            <div class="form-group">
              <label for="country">Country</label>
              <input type="text" class="form-control form-control-sm" name="country" [(ngModel)]="user.country" #country="ngModel" required />
              <div *ngIf="country.invalid && (country.dirty ||country.touched)" class="invalid-feedback">
                <div *ngIf="country.errors.required">Country is required</div>
              </div>
            </div>

            <!--Email-->
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control form-control-sm" name="email" [(ngModel)]="user.email" #email="ngModel" required email />
                <div *ngIf="email.invalid && (email.dirty ||email.touched)" class="invalid-feedback">
                    <div *ngIf="email.errors.required">Email is required</div>
                    <div *ngIf="email.errors.email">Email must be a valid email address</div>
                </div>
            </div>

            <!--Phone-->
            <div class="form-group">
              <label for="phone">Phone</label>
              <input type="number" class="form-control form-control-sm" name="phone" [(ngModel)]="user.phone" #phone="ngModel" required />
              <div *ngIf="phone.invalid && (phone.dirty ||phone.touched)" class="invalid-feedback">
                <div *ngIf="phone.errors.required">Phone is required</div>
              </div>
            </div>

              <div class="form-group">
                <button type="submit" disabled="!f.form.valid" class="btn-sm btn-block">SAVE CHANGES</button>
              </div>
          </form>
      </div>

  </div>

</div>

