
<h6><b>Seller Dashboard</b></h6>
<br>
<h4 style="font-weight: bolder;">SHRAVAN SUD</h4>
<hr style="border: 1px solid;">

<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" (click)="goToActive()">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="goToHistory()">History</a>
  </li>
  <li class="nav-item active">
    <a class="nav-link active">Settings</a>
  </li>

</ul><br>


<div class="col-12">

  <h4>Buying Notifications</h4>
  <div class="row">

      <div class="col-6" style="padding-bottom: 10%;">
        <br>

      </div>

  </div>

</div>

