<div style="padding-bottom: 8%;">

<h6><b>Dashboard</b></h6>
<br>
<h4 style="font-weight: bolder;">SHRAVAN SUD</h4>
<hr style="border: 1px solid;">

<ul class="nav">
  <li class="nav-item">
    <a  class="nav-link" (click)="goToProfile()">My Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="goToPortifolio()">Potifolio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active">Orders</a>
  </li>
</ul><br>


<h6 style="font-weight: bolder;">TOTAL PROFIT MADE FROM CYPHER</h6>
<h4 style="font-weight: bolder;">RS 29,873.00</h4><br>

<div class="row">
    <div class="column">
      <div class="card"><img class="card-img-top" alt="Card image cap">  </div>
      <div class="card-body">
        Order Date: 3 Sept 2020<br>
        Order Id: CY01567<br>
        Total: Rs 67,345.00
      </div>
      <button type="button" (click)="goToOrderDetails()" class="btn-sm btn-block">DETAILS</button>
    </div>
    <div class="column">
        <div class="card"><img class="card-img-top" alt="Card image cap">  </div>
        <div class="card-body"    >
          Order Date: 3 Sept 2020<br>
          Order Id: CY01567<br>
          Total: Rs 67,345.00
        </div>
        <button type="button" (click)="goToOrderDetails()" class="btn-sm btn-block">DETAILS</button>   
      </div>
      <div class="column">
        <div class="card"><img class="card-img-top"  alt="Card image cap">  </div>
        <div class="card-body">
          Order Date: 3 Sept 2020<br>
          Order Id: CY01567<br>
          Total: Rs 67,345.00
        </div>
        <button type="button" (click)="goToOrderDetails()" class="btn-sm btn-block">DETAILS</button>   
      </div>
      <div class="column">
        <div class="card"><img class="card-img-top" alt="Card image cap">  </div>
        <div class="card-body"    >
          Order Date: 3 Sept 2020<br>
          Order Id: CY01567<br>
          Total: Rs 67,345.00
        </div>
        <button type="button" (click)="goToOrderDetails()" class="btn-sm btn-block">DETAILS</button>
      </div>

</div><br>

<div class="row">
    <div class="column">
      <div class="card"><img class="card-img-top"  alt="Card image cap">  </div>
      <div class="card-body"    >
        Order Date: 3 Sept 2020<br>
        Order Id: CY01567<br>
        Total: Rs 67,345.00
      </div>
      <button type="button" (click)="goToOrderDetails()" class="btn-sm btn-block">DETAILS</button>  
    </div>
    <div class="column">
        <div class="card"><img class="card-img-top" alt="Card image cap">  </div>
        <div class="card-body"    >
          Order Date: 3 Sept 2020<br>
          Order Id: CY01567<br>
          Total: Rs 67,345.00
        </div>
        <button type="button" (click)="goToOrderDetails()" class="btn-sm btn-block">DETAILS</button>
      </div>
      <div class="column">
        <div class="card"><img class="card-img-top" alt="Card image cap">  </div>
        <div class="card-body"    >
          Order Date: 3 Sept 2020<br>
          Order Id: CY01567<br>
          Total: Rs 67,345.00
        </div>
        <button type="button" (click)="goToOrderDetails()" class="btn-sm btn-block">DETAILS</button>  
      </div>
      <div class="column">
        <div class="card"><img class="card-img-top" alt="Card image cap">  </div>
        <div class="card-body"    >
          Order Date: 3 Sept 2020<br>
          Order Id: CY01567<br>
          Total: Rs 67,345.00
        </div>
        <button type="button" (click)="goToOrderDetails()" class="btn-sm btn-block">DETAILS</button>  
      </div>

</div><br>

<label style="font-weight: 600;">Show more</label><br><br>
</div>
