<div class="mobile-landing-page">
  <div
    id="carousel-vertical-landing-page"
    class="carousel slide carousel-fade"
    data-ride="carousel"
    data-interval="false"
  >
    <ol class="carousel-indicators">
      <li
        data-target="#carousel-vertical-landing-page"
        data-slide-to="0"
        class="active"
      ></li>
      <li data-target="#carousel-vertical-landing-page" data-slide-to="1"></li>
      <li data-target="#carousel-vertical-landing-page" data-slide-to="2"></li>
      <li data-target="#carousel-vertical-landing-page" data-slide-to="3"></li>
      <li data-target="#carousel-vertical-landing-page" data-slide-to="4"></li>
    </ol>
    <!-- Slides -->
    <div class="carousel-inner">
      <!-- First Slide -->
      <div class="carousel-item active slide-1m h100">
        <div class="container text-center white-font">
          <div class="relative h100">
            <video id="myVideo" loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
              <source src="/assets/video/cypherVideo.mp4" type="video/mp4">
            </video>
            <div class="logo-section">
              <img
                src="/assets/img/cypher_logo_white.png"
                alt="logo"
                class="main_logo"
              />
            </div>
            <div class="text-section">
              <h2 class="large-title">
                <span>{{ title1_1 }}</span
                ><span>{{ title1_2 }}</span>
              </h2>
              <div class="text-subsection">
                <div class="row justify-content-center" style="width: 85%;">
                  <div class="input-group mb-2 mt-2">
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Email"
                      aria-label="Email"
                    />
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button">
                        Sign Up
                      </button>
                    </div>
                  </div>
                </div>
                <h3>{{ subTitle1 }}</h3>
              </div>
              <div class="social-icon-section">
                <i class="fab fa-instagram"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /First Slide -->
      <!-- Second Slide -->
      <div class="carousel-item slide-2m h100">
        <div class="container text-center black-font">
          <div class="relative h100">
            <div class="logo-section">
              <img
                src="/assets/img/cypher_logo_black.png"
                alt="logo"
                class="main_logo"
              />
            </div>
            <div class="text-section">
              <div class="row align-items-center mb-3" style="width: 100%;">
                <div class="black-line col-md-3 col-3"></div>
                <h2 class="col-md-6 col-6">
                  <span>{{ title2 }}</span>
                </h2>
                <div class="black-line col-md-3 col-3"></div>
              </div>

              <h3>
                <span>{{ subTitle2_1 }}</span>
                <span>{{ subTitle2_2 }}</span>
                <span>{{ subTitle2_3 }}</span>
              </h3>
            </div>
          </div>
        </div>
      </div>
      <!-- /Second Slide -->
      <!-- Third Slide -->
      <div class="carousel-item slide-3m h100">
        <div class="container text-center white-font">
          <div class="relative h100">
            <div class="logo-section">
              <img
                src="/assets/img/cypher_logo_white.png"
                alt="logo"
                class="main_logo"
              />
            </div>
            <div class="text-section">
              <div class="row align-items-center mb-3" style="width: 100%;">
                <div class="white-line col-md-3 col-3"></div>
                <h2 class="col-md-6 col-6">
                  <span>{{ title3 }}</span>
                </h2>
                <div class="white-line col-md-3 col-3"></div>
              </div>

              <h3>
                <span>{{ subTitle3_1 }}</span>
                <span>{{ subTitle3_2 }}</span>
                <span>{{ subTitle3_3 }}</span>
                <span>{{ subTitle3_4 }}</span>
                <span>{{ subTitle3_5 }}</span>
              </h3>
            </div>
          </div>
        </div>
      </div>
      <!-- /Third Slide -->
      <!-- Fourth Slide -->
      <div class="carousel-item slide-4m h100">
        <div class="container text-center white-font">
          <div class="relative h100">
            <div class="logo-section">
              <img
                src="/assets/img/cypher_logo_white.png"
                alt="logo"
                class="main_logo"
              />
            </div>
            <div class="text-section">
              <div class="row align-items-center mb-3" style="width: 100%;">
                <div class="white-line col-md-3 col-3"></div>
                <h2 class="col-md-6 col-6">
                  <span>{{ title4 }}</span>
                </h2>
                <div class="white-line col-md-3 col-3"></div>
              </div>

              <h3>
                <span>{{ subTitle4_1 }}</span>
                <span>{{ subTitle4_2 }}</span>
                <span>{{ subTitle4_3 }}</span>
              </h3>
            </div>
          </div>
        </div>
      </div>
      <!-- /Fourth Slide -->
      <!-- Fifth Slide -->
      <div class="carousel-item slide-5m h100">
        <div class="container text-center white-font">
          <div class="relative h100">
            <div class="logo-section">
              <img
                src="/assets/img/cypher_logo_white.png"
                alt="logo"
                class="main_logo"
              />
            </div>
            <div class="text-section">
              <div class="row align-items-center mb-3" style="width: 100%;">
                <div class="white-line col-md-3 col-3"></div>
                <h2 class="col-md-6 col-6">
                  <span>{{ title5 }}</span>
                </h2>
                <div class="white-line col-md-3 col-3"></div>
              </div>

              <h3>
                <span>{{ subTitle5_1 }}</span>
                <span>{{ subTitle5_2 }}</span>
                <span>{{ subTitle5_3 }}</span>
                <span>{{ subTitle5_4 }}</span>
              </h3>

              <div class="row justify-content-center" style="width: 85%;">
                <div class="input-group mb-2 mt-3">
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Email"
                    aria-label="Email"
                  />
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">
                      Sign Up
                    </button>
                  </div>
                </div>
              </div>

              <h3 class="footer mb-4">{{ footerText5 }}</h3>
              <div class="social-icon-section">
                <i class="fab fa-instagram"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Fifth Slide -->
      <!-- /Slides -->
    </div>
    <a
      class="carousel-control-prev"
      href="#carousel-vertical-landing-page"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carousel-vertical-landing-page"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
