
<!--Apparels-->
<div class="col-12"> 
  <a >Sneakers</a><br>
  
  
  <div id="mySidebar" class="sidebar">
    <label>Sort By</label>
    <a role="button">Best Selling</a>
    <a role="button">Price Low</a>
    <a role="button">Price High</a><br>
    <label>Filters</label>
    <hr align="top" style="border: 1px solid; margin-top:0%; margin-right: 3%; margin-left: 32px;">
    <span>Size</span>
    <span style="margin-left: 30%;">Brand</span><br><br><br>

    <button role="button" (click)="closeApparelNav()">Apply Filter </button>

  </div><br>

  <!--Image should be placed-->

  <img style="width: 100%;" src="/assets/img/banner2.jpg">
  <br>
  <br>
  <a role="button" style="float: right;" (click)="openApparelNav()">Filter</a><br><br>

<!--Row1-->
<div class="row">
  <!--Product1-->
  <div class="column">
    <div class="card img-fluid" (click)="goToProductInfo(0)"><img class="card-img-top" src="/assets/img/img1.jpg" alt="Card image cap">
      <div class="card-img-overlay"><a role="button">+</a></div>
    </div>
    <div class="card-body">
      AIR JORDAN 4 RETRO<br>
      <span style="color: darkgray;">$  Price</span>
    </div>
  </div>
  <!--Product2-->
  <div class="column">
    <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
      <div class="card-img-overlay"><a role="button">+</a></div>
    </div>
    <div class="card-body">
      AIR JORDAN 4 RETRO<br>
      <span style="color: darkgray;">$  Price</span>
    </div>  
  </div>
  <!--Product3-->
  <div class="column">
    <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
      <div class="card-img-overlay"><a role="button">+</a></div>
    </div>
    <div class="card-body">
      AIR JORDAN 4 RETRO<br>
      <span style="color: darkgray;">$  Price</span>
    </div> 
  </div>
  <!--Product4-->
  <div class="column">
    <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
      <div class="card-img-overlay"><a role="button">+</a></div>
    </div>
    <div class="card-body"    >
      AIR JORDAN 4 RETRO<br>
      <span style="color: darkgray;">$  Price</span>
    </div>
  </div>
</div><!--Row 1 Ends--><br>

<!--Row2-->
<div class="row">
<!--Product5-->
<div class="column">
  <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
    <div class="card-img-overlay"><a role="button">+</a></div>
  </div>
  <div class="card-body">
    AIR JORDAN 4 RETRO<br>
    <span style="color: darkgray;">$  Price</span>
  </div>
</div>
<!--Product6-->
<div class="column">
  <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
    <div class="card-img-overlay"><a role="button">+</a></div>
  </div>
  <div class="card-body">
    AIR JORDAN 4 RETRO<br>
    <span style="color: darkgray;">$  Price</span>
  </div>  
</div>
<!--Product7-->
<div class="column">
  <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
    <div class="card-img-overlay"><a role="button">+</a></div>
  </div>
  <div class="card-body">
    AIR JORDAN 4 RETRO<br>
    <span style="color: darkgray;">$  Price</span>
  </div> 
</div>
<!--Product8-->
<div class="column">
  <div class="card img-fluid"><img class="card-img-top" alt="Card image cap">
    <div class="card-img-overlay"><a role="button">+</a></div>
  </div>
  <div class="card-body"    >
    AIR JORDAN 4 RETRO<br>
    <span style="color: darkgray;">$  Price</span>
  </div>
</div>
</div><!--Row 2 Ends--><br>

<label style="font-weight: 600;">Show more</label>


<br>